.headerContainer {
  background-color: #141A29;
  height          : 6rem;
}

.headerContent {
  align-items: center;
  display    : flex;
  height     : 6rem;
  margin     : 0 auto;
  max-width  : 1120px;

  img { cursor: pointer; }

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 .5rem;
      height: 5rem;
      line-height: 5rem;
      color: #FFFFFF;

      & + a { margin-left: 2rem; }
    }
  }

  button { margin-left: auto; }
}